html, body {
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: #000000;
    font-family: Bold;
    color: #ffffff;
}

.formulario{
    color: white;
    display: absolute;
	background: none;
	width: 1130px;
	height: 500px;
	margin-top: 100px;
	margin-left: 100px;
	position: absolute;
	border-radius: 50px;
	color: #e0e1ff;
    left: 50px;
	top: 30px;
	font-size: 15px;	
}
  
.formulario1 {
    color: #ffffff;
    font-size: 12px;
}

.inputUser {
	background: none;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	color: #97c9e8;
}

.inputUser1 {
	background: none;
	border: 1px solid white;
	border-radius: 10px;
	width: 300px;
	color: white;
	text-align: center;
}

.cabecalho {
	position: absolute;
}

.inicio {
	position: absolute;
	top: -6px;
	left: 20px;
	font-size: 20px;
}

.inicio li{
	padding: 16px 0;
	list-style: none;
}

.inicio li a {
	text-decoration: none;
	color: white;
}

.inicio  a{
	text-decoration: none;
	color: white;
	padding: 16px 0;
	list-style: none;
}

#div-reta {
	top: 50px;
	left: 0px;
	width: 100%;
	height: 1px;
	background: #ffffff;
	position: absolute;
}

.start {
	top: 50px;
	left: 0px;
	width: 100%;
	height: 1px;
    position: absolute;
}

.fundo {
	background: none;
	width: 1130px;
	height: 500px;
	margin-top: 100px;
	margin-left: 100px;
	position: absolute;
	border-radius: 50px;
	color: #e0e1ff;
    left: 50px;
	top: 30px;
	font-size: 100px;	
}

.fundo:hover {
	color: white;
}

.fundo1 {
	color: #41b2f0;
	font-size: 50px;
	position: absolute;
}

.fundo1:hover {
	color: #639fff;
}

.escrito1 {
	color: #e0e1ff;
	font-size: 50px;	
	position: relative;	
}

.escrito1:hover { 
	color: #ffffff;
}

.escrito2 {
	color: #97c9e8;
	font-size: 30px;	
	position: relative;	
}

.escrito2:hover { 
	color: #639fff;
}

.escrito3 {
	color: #9f9da1;
	font-size: 20px;	
	position: relative;	
	display: inline;
}

.escrito3:hover { 
	color: #c2c0c4;
}

#button {
	position: absolute;
	left: 150px;
	border: 1px solid white;
	border-radius: 15px;
	width: 140px;
	padding: 8px;
	color: #e0e1ff;
	font-size: 12px;
}

#button:hover {
	border: 1px solid #9f9da1;
	color: #9f9da1;
}

.button1 {
	top: 370px;
}

.button2 {
	top: 415px;
}

.button3 {
	top: 460px;
}

.button4 {
	top: 505px;
}


#button3 {
	border: 1px solid white;
	border-radius: 15px;
	padding: 6px;
	width: 50px;
	color: #e0e1ff;
	font-size: 10px;
	text-align: center;
}

#button3:hover {
	border: 1px solid #9f9da1;
	color: #9f9da1;
}

.tabela {
    --bs-table-color: #fff;
    --bs-table-bg: #000000;
    --bs-table-border-color: #363636;
    --bs-table-striped-bg: #000000;
    --bs-table-striped-color: #fff;
}

.listagem { 
    color: white;
    display: absolute;
	background: black;
	width: 1130px;
	height: 500px;
	margin-top: 60px;
	margin-left: 50px;
	position: absolute;
	border-radius: 50px;
    left: 50px;
	font-size: 15px;	
}

.cabTabela {
    --bs-table-color: #97c9e8;
    font-size: 20px;
}

.avatar  {	
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	color: #9f9da1;
}

.logomarca  {	
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
	outline: none;
	color: #9f9da1;
}
  
::file-selector-button {
	font: inherit;
	background: #111111;
	color: #9f9da1;
	border-color: white;
	
}

.cardezinho {
	width: 1130px;
	height: 500px;
	margin-top: 200px;
	margin-left: 200px;
	background: none;
}

.formulario-up {
    color: white;
    display: absolute;
	background: none;
	width: 1130px;
	height: 500px;
	margin-top: 50px;
	margin-left: 700px;
	position: absolute;
	border-radius: 50px;
	color: #e0e1ff;
    left: 50px;
	top: 30px;
	font-size: 15px;	
}

.cardezinho-up {
	width: 700px;
	height: 300px;
	margin-top: 100px;
	margin-left: 100px;
	background: none;
}
